@media print{
    .page-break{
        break-before:always;
        display: block;

    }
}
*{
    margin: 3px;
    padding: 4px;
  
    font-size:large;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.change{
    
    text-decoration: solid;
    text-align: justify;
    /* width: 217mm;
    font-size: 19pt;
    font-weight: 10;
    line-height: 2.2; */
    margin: 39px;
    padding: 30px;
    font-family: "Times New Roman", Times, serif; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/* .upgrade{
    font-size: large;
    text-align: justify;
    
} */
 .center{
    text-align: center;
 }
.gantt{
    text-align: center;
    
   
}
.gantt img{
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
}
.maker{
    padding-bottom: 33px;
}
body{
    box-shadow: darkgray;
    font-size: large;
    font-weight: 200;
    font-style:inherit;
}
.bold{
    font-weight: bold;
}

